### Generate Fake Students Data

In [270]:
#generate student name 
from random import *
alpha="abcdefghijklmnopqrstuvwxyz"

for i in range(20):
    fname=choice(alpha).upper()
    lname=choice(alpha).upper()
    for i in range(randint(3,13)):
        fname=fname+choice(alpha)
        lname=lname+choice(alpha)
    print(fname,lname)

Ianywvcqnud Obnofikcsxt
Ewpdddqgeefbre Kpvwolxjciogrd
Vrbzqmkvcytjmv Joqmiujepmfoaq
Uggluzgqcm Tiswikirsn
Xlinleito Wmgoetfma
Vnfpukbdgq Uhzonwvvgo
Vhtylvhen Wbtblnjgf
Ftfbghysaxbc Uyxwlqunbdvo
Zlzsdjk Nygxusz
Jbfskkmguyp Ancyntrnbcg
Tyvuhxjclrcb Amrddgnvburz
Vfkgfr Ykuqwv
Iwioumihq Grupxnlcm
Tjhqhdx Usfhkpp
Qtsnysa Esprywx
Fopsdqriatdxt Hkdqzrkmshahu
Jzescxuqnzhjj Zpbrfkmfhtblm
Anbexuwmljdd Wywoybyxyvzd
Qwjzklv Ahiclni
Hpmg Lxwb

In [227]:
#studnet mobile no 
digits="0123456789"

for i in range(20):
    smob=choice('9876')
    for i in range(9):
        smob=smob+choice(digits)
    print(smob)

6606473539
9310166418
8510941391
8628201318
7288009757
9225184867
8925666661
9365707564
6126676998
9796097793
6475790334
9767643044
6720884813
7603567085
8585528043
7551994885
6163808594
9709351236
8801667562
9767264478

In [236]:
#sage
for i in range(20):
    sage=randint(16,25)
    print(sage)

17
17
19
17
24
20
19
16
21
20
16
18
16
25
20
24
24
21
18
23

In [263]:
cities=['bbsr','cuttack','hyd','delhi','puri']
for i in range(20):
    saddr=choice(cities)
    print(saddr)

bbsr
puri
bbsr
bbsr
hyd
bbsr
delhi
puri
puri
puri
puri
puri
hyd
bbsr
hyd
hyd
hyd
puri
hyd
cuttack

In [265]:
course=['Btech','MCA','MBA','MTECH','PHD','MSC','MA']
for i in range(20):
    scourse=choice(course)
    print(scourse)

MSC
MA
MCA
MA
MA
MBA
MSC
Btech
MSC
PHD
MSC
MBA
MSC
Btech
PHD
MTECH
MTECH
MA
MCA
MA

In [262]:
#sid 
digits="0123456789"


for i in range(20):
    sid='xyz-'
    for i in range(6):
        sid=sid+choice(digits)

    print(sid)

xyz-141146
xyz-640705
xyz-108600
xyz-012656
xyz-496438
xyz-198807
xyz-576852
xyz-185592
xyz-027501
xyz-410859
xyz-338218
xyz-883445
xyz-402087
xyz-402240
xyz-753126
xyz-859958
xyz-394282
xyz-292497
xyz-814278
xyz-723738