In [52]:
class Student:
    def __init__(self,name,age,roll):
        self.name=name
        self.age=age
        self.roll=roll
        
    def printDeatils(self):
        print(f'Name is {self.name}')
        print(f'Age is {self.age}')
        print(f'Roll is {self.roll}')
        print('-'*20)
        
    
s1=Student('Priyanka',24,1024)
s1.printDeatils()
        
s2=Student('Rahul',25,1025)
s2.printDeatils()
        
s3=Student('Zini',24,1026)
s3.printDeatils()
        
s4=Student('Surendra',25,1023)
s4.printDeatils()

Name is Priyanka
Age is 24
Roll is 1024
--------------------
Name is Rahul
Age is 25
Roll is 1025
--------------------
Name is Zini
Age is 24
Roll is 1026
--------------------
Name is Surendra
Age is 25
Roll is 1023
--------------------

In [70]:
#createing multriple objcets from a single class using (list / loop )

class Student:
    def __init__(self,name,age,roll):
        self.name=name
        self.age=age
        self.roll=roll
        
    def printDeatils(self):
        print(f'Name is {self.name}')
        print(f'Age is {self.age}')
        print(f'Roll is {self.roll}')
        print('-'*20)

names=['Priaynka','Rahul','Zini','Surendra','Dev','Anjali','Jack','Scoot']
age=[24,25,24,25,59,43,30,22]
roll=[1024,1025,1026,1023,1027,1028,1029,1030]

obj_list=[]

for i in range(len(names)):
    s=Student(names[i],age[i],roll[i])
    obj_list.append(s)
    

print(obj_list)

[<__main__.Student object at 0x00000276992DA970>, <__main__.Student object at 0x00000276999394C0>, <__main__.Student object at 0x00000276992DAB50>, <__main__.Student object at 0x00000276992DAAF0>, <__main__.Student object at 0x00000276992DAC10>, <__main__.Student object at 0x00000276992DA940>, <__main__.Student object at 0x00000276992DA880>, <__main__.Student object at 0x00000276992DA2E0>]

In [60]:
print(obj_list[0])

<__main__.Student object at 0x00000276999F32B0>

In [71]:
print(obj_list[0].name)
print(obj_list[0].age)
print(obj_list[0].roll)

print(obj_list[1].name)
print(obj_list[1].age)
print(obj_list[1].roll)

print(obj_list[2].name)
print(obj_list[2].age)
print(obj_list[2].roll)

print(obj_list[3].name)
print(obj_list[3].age)
print(obj_list[3].roll)

print(obj_list[4].name)
print(obj_list[4].age)
print(obj_list[4].roll)

print(obj_list[5].name)
print(obj_list[5].age)
print(obj_list[5].roll)

print(obj_list[6].name)
print(obj_list[6].age)
print(obj_list[6].roll)

print(obj_list[7].name)
print(obj_list[7].age)
print(obj_list[7].roll)

Priaynka
24
1024
Rahul
25
1025
Zini
24
1026
Surendra
25
1023
Dev
59
1027
Anjali
43
1028
Jack
30
1029
Scoot
22
1030

In [73]:
for i in range(len(names)):
    print(obj_list[i].name)
    print(obj_list[i].age)
    print(obj_list[i].roll)
    print('-'*20)

Priaynka
24
1024
--------------------
Rahul
25
1025
--------------------
Zini
24
1026
--------------------
Surendra
25
1023
--------------------
Dev
59
1027
--------------------
Anjali
43
1028
--------------------
Jack
30
1029
--------------------
Scoot
22
1030
--------------------